@import "tailwindcss";

@font-face {
  font-family: "nevera";
  src: url("./assets/fonts/nevera.regular.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "bigtime";
  src: url("./assets/fonts/Bigtimes.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "atoma";
  src: url("./assets/fonts/Attoma.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "good";
  src: url("./assets/fonts/Good\ Times\ Rg.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}